<input type="text" class="form-control" placeholder="Search" [(ngModel)]="videoFilter">

<div class="col-12 mb-3" *ngFor="let video of videos | filter: videoFilter: 'parent_name'">
    <div class="media">
        <img src="http://via.placeholder.com/64x64" class="mr-3" alt="64x64">
        <div class="media-body">
            <div class="row">
                <div class="col-9">
                    <a href="">
                        <h6 class="mt-0">{{ video.title }}</h6>
                    </a>
                </div>
                <div class="col-3 p-0">
                    <p class="small pull-right">puplished {{ video.published | date:'mediumDate' }}</p>
                </div> 
            </div>
            <p>{{ video.parent_name }}</p>
            <span class="badge badge-pill badge-warning">{{ video.views }} views</span>
            <span class="badge badge-pill badge-primary">{{ video.likes }} likes</span>
            <span class="badge badge-pill badge-info">{{ video.comments }} comments</span>
            <span class="badge badge-pill badge-success">{{ video.shares }} shares</span>
        </div>
      </div>
</div>