  <select [(ngModel)]="videoFilter">
    <option *ngFor="let parent of parents">{{ parent }}</option>
  </select>
<!-- Note: doesn't work right! don't know why! -->
<!-- <button class="btn btn-outline-warning"(click)="onViewsSort()">
    ViewsSort <i [ngClass]="{'fas fa-sort-up': viewsStatus === true, 'fas fa-sort-down': viewsStatus === false}"></i>
</button> -->

<button class="btn btn-outline-warning"(click)="onViewsSort()">
    ViewsSort <i *ngIf="viewsClicked === false"></i>
    <i class="fas fa-sort-down"  *ngIf="viewsStatus && viewsClicked"></i>
    <i class="fas fa-sort-up" *ngIf="!viewsStatus && viewsClicked"></i>
</button>

<button class="btn btn-outline-primary" (click)="onLikesSort()">
    LikesSort <i *ngIf="likesClicked === false"></i>
    <i class="fas fa-sort-down"  *ngIf="likesStatus && likesClicked"></i>
    <i class="fas fa-sort-up" *ngIf="!likesStatus && likesClicked"></i>
</button>
<button class="btn btn-outline-success" (click)="onSharesSort()">
    SharesSort <i *ngIf="sharesClicked === false"></i>
    <i class="fas fa-sort-down"  *ngIf="sharesStatus && sharesClicked"></i>
    <i class="fas fa-sort-up" *ngIf="!sharesStatus && sharesClicked"></i>
</button>
<button (click)="test()">test</button>

<div class="col-12 mb-3" *ngFor="let video of videos | filter: videoFilter: 'parent_name'">
    <div class="media">
        <img src="http://via.placeholder.com/64x64" class="mr-3" alt="64x64">
        <div class="media-body">
            <div class="row">
                <div class="col-9">
                    <a href="">
                        <h6 class="mt-0">{{ video.title }}</h6>
                    </a>
                </div>
                <div class="col-3 p-0">
                    <p class="small pull-right">puplished {{ video.published | date:'mediumDate' }}</p>
                </div> 
            </div>
            <p>{{ video.parent_name }}</p>
            <span class="badge badge-pill badge-warning">{{ video.views }} views</span>
            <span class="badge badge-pill badge-primary">{{ video.likes }} likes</span>
            <span class="badge badge-pill badge-info">{{ video.comments }} comments</span>
            <span class="badge badge-pill badge-success">{{ video.shares }} shares</span>
        </div>
      </div>
</div>